@import url(//db.onlinewebfonts.com/c/dc88de55cf527ed4caac2b617465cbd9?family=Product+Sans+Light);

// $primary: #f15a29;
// $primary-alt: #f15a29;
// $secondary: #3f943f;
// $secondary-alt: #fff;
// $bg: #1e1e1e;
// $bg-alt: #2b2b2b;
// $play-now: #474949;


//new-colors

// $primary: #469add;
// $primary-alt:  #4d77aa;


$primary: #469add;
$primary-alt:  #469add;
$secondary: #4daad1;
$secondary-alt: #fff;
$bg: #21242d;
$bg-alt:#262626;
$play-now: #474949;

$danger: #e53935;
$success: #689f38;

$primary-dark: #219abe;

$media-width: 990px;

$font-primary: 'Product Sans', sans-serif;
$font-secondary: 'Product Sans Light', sans-serif;
$font-homePage: 'Product Sans Light', sans-serif;

$font-size-mobile: 22px;
$font-size-web: 30px;
